# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/

# Environment variables
*.env

# IDE and editor files
.vscode/
.idea/
*.swp

# Logs and temporary files
*.log
*.tmp
.DS_Store

/temp